# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_YCGK_LEFT
	def_bool $(shields_list_contains,ycgk_left)

config SHIELD_YCGK_RIGHT
	def_bool $(shields_list_contains,ycgk_right)
